<p>Bonjour {{userName}},</p>
<p>Nous avons bien reçu votre demande de participation, et nous vous remercions de l'intérêt que vous portez à notre projet.<br>
Malheureusement, nous ne pouvons donner suite à votre demande.<br>
Le projet étant encore à l'étude, pour faciliter la tâche de nos équipes, nous sommes hélas obligés de restreindre le nombre d'utilisateurs. Mais nous serons bien entendu vraiment ravis de vous accueillir sur la version aboutie de StramAccess !<br>
<br>
Encore merci à vous et, nous l'espérons, à bientôt<br>
L'équipe Cinecare</p>