<p>Bonjour,</p>
<p>Vous avez reçu une demande d'insciption de la part de <a href="mailto:{{email}}">{{userName}}</a><br>
Rendez vous sur le dashboard administration pour valider ou refuser la candidature</p>